gsutil==5.34
retry_decorator==1.1.1
clarabel==0.10.0
argcomplete==3.6.2
oauth2client==4.1.3
pyOpenSSL==24.2.1
scs==3.2.7.post2
rsa==4.7.2
fasteners==0.19
osqp==1.0.3
gcs-oauth2-boto-plugin==3.2
google-auth-httplib2==0.2.0
learn2learn==0.2.0
google-reauth==0.1.1
google-apitools==0.5.32
crcmod==1.7
boto==2.49.0
gym==0.26.2
qpth==0.0.18
httplib2==0.20.4
pyu2f==0.1.5
monotonic==1.6
gym-notices==0.0.8
cvxpy==1.6.5
google-auth==2.17.0
regex==2024.9.11
pypdfium2==4.30.0
protobuf==4.25.3
datasets==2.19.1
jupyterlab-widgets==3.0.10
pillow==10.4.0
tinycss2==1.2.1
asttokens==2.0.5
Jinja2==3.1.4
colorama==0.4.6
exceptiongroup==1.2.0
httpcore==1.0.2
streamlit==1.39.0
jsonschema==4.23.0
shellingham==1.5.4
graphene==3.4.3
fastjsonschema==2.16.2
greenlet==3.1.1
mkl-service==2.4.0
nbconvert==7.16.4
pyasn1_modules==0.4.1
jupyterlab-pygments==0.1.2
tzlocal==5.2
cloudpickle==3.1.0
frozenlist==1.4.0
numpy==1.26.4
zipp==3.20.2
Bottleneck==1.3.7
ipywidgets==8.1.2
qwen-vl-utils==0.0.8
nvidia-nccl-cu12==2.23.4
pyzmq==25.1.2
nest-asyncio==1.6.0
wandb==0.19.10
open3d==0.18.0
httpx==0.27.0
mlflow-skinny==2.17.2
einops==0.8.0
wrapt==1.16.0
pandas==2.2.2
QtPy==2.4.1
comm==0.2.1
dash-html-components==2.0.0
fastapi==0.115.6
bitsandbytes==0.45.0
soupsieve==2.5
typer==0.15.1
numba==0.60.0
prometheus-client==0.14.1
pydantic_core==2.27.1
requests==2.32.3
torch==2.5.0
platformdirs==3.10.0
attrs==24.2.0
Werkzeug==3.0.6
referencing==0.30.2
matplotlib==3.9.2
zope.interface==7.2
rfc3339-validator==0.1.4
toolz==0.12.0
SQLAlchemy==2.0.36
threadpoolctl==3.5.0
jupyter_client==8.6.0
contourpy==1.3.0
Wand==0.6.10
smmap==4.0.0
sacremoses==0.1.1
Pygments==2.15.1
wheel==0.44.0
sacrebleu==2.5.1
executing==0.8.3
matplotlib-inline==0.1.6
pdfplumber==0.11.4
async-lru==2.0.4
validators==0.18.2
prompt-toolkit==3.0.43
GitPython==3.1.43
shap==0.46.0
sentry-sdk==2.27.0
retrying==1.3.4
jupyter_server==2.14.1
Babel==2.11.0
altair==5.0.1
pure-eval==0.2.2
graphql-core==3.2.5
tensorboard==2.19.0
notebook_shim==0.2.3
mkl_fft==1.3.10
dash-core-components==2.0.0
multiprocess==0.70.15
ply==3.11
jupyter_server_terminals==0.4.4
idna==3.7
mdurl==0.1.0
tqdm==4.66.5
multidict==6.0.4
tenacity==8.2.3
aiohappyeyeballs==2.4.0
Markdown==3.7
pydub==0.25.1
pyasn1==0.6.1
PySocks==1.7.1
networkx==3.3
notebook==7.2.2
gitdb==4.0.7
transformers==4.52.0.dev0
grpcio==1.71.0
bert-score==0.3.13
cachetools==5.3.3
flash-attn==2.7.0.post2
semantic-version==2.10.0
llvmlite==0.43.0
numexpr==2.8.7
h11==0.14.0
joblib==1.4.2
nltk==3.9.1
tensorboard-data-server==0.7.2
google-auth==2.36.0
ipykernel==6.29.5
psutil==5.9.0
importlib-metadata==7.0.1
fonttools==4.54.1
torchaudio==2.5.0
filelock==3.13.1
PyQt5-sip==12.13.0
cryptography==43.0.0
overrides==7.4.0
pydeck==0.8.0b4
setproctitle==1.3.5
gradio_client==1.5.2
torchinfo==1.8.0
nbformat==5.10.4
jupyter-console==6.6.3
setuptools==75.1.0
gmpy2==2.1.2
six==1.16.0
lightning-utilities==0.11.8
markdown-it-py==2.2.0
sip==6.7.12
Brotli==1.0.9
tornado==6.4.1
rfc3986-validator==0.1.1
sympy==1.13.1
ffmpy==0.4.0
mlflow==2.17.2
mistune==2.0.4
dill==0.3.8
pandocfilters==1.5.0
pexpect==4.8.0
absl-py==2.2.2
sniffio==1.3.0
tomlkit==0.13.2
cffi==1.17.1
portalocker==3.1.1
jupyterlab==4.2.5
pyparsing==3.2.0
databricks-sdk==0.37.0
ruff==0.8.3
python-multipart==0.0.19
annotated-types==0.7.0
addict==2.4.0
traitlets==5.14.3
DateTime==5.5
jupyter-lsp==2.2.0
uvicorn==0.33.0
pdfminer.six==20231228
slicer==0.0.8
aiofiles==23.2.1
yarl==1.11.0
urllib3==2.2.3
lxml==5.3.2
mpmath==1.3.0
parso==0.8.3
debugpy==1.6.7
dash==2.18.2
starlette==0.41.3
aiohttp==3.10.5
pydantic==2.10.3
diffusers==0.31.0
alembic==1.14.0
pip==24.2
rsa==4.9
webencodings==0.5.1
tokenizers==0.21.1
sentencepiece==0.2.0
pytz==2024.1
Deprecated==1.2.15
async-timeout==4.0.3
blinker==1.9.0
certifi==2024.8.30
tomli==2.0.1
toml==0.10.2
xgboost==2.1.2
sqlparse==0.5.2
Send2Trash==1.8.2
Mako==1.3.6
mkl_random==1.2.7
opentelemetry-api==1.28.1
pyquaternion==0.9.9
av==13.1.0
tabulate==0.9.0
json5==0.9.6
charset-normalizer==3.3.2
jupyter-events==0.10.0
evaluate==0.4.3
widgetsnbextension==4.0.10
scipy==1.14.1
python-json-logger==2.0.7
PyYAML==6.0.2
tiktoken==0.9.0
jupyter_core==5.7.2
tzdata==2023.3
pycparser==2.21
itsdangerous==2.2.0
click==8.1.7
gunicorn==23.0.0
typing_extensions==4.12.2
argon2-cffi-bindings==21.2.0
bleach==4.1.0
torchmetrics==1.6.0
PyQt5==5.15.10
packaging==24.1
terminado==0.17.1
dash-table==5.0.0
aiosignal==1.2.0
anyio==4.6.2
watchdog==4.0.1
triton==3.1.0
plotly==5.24.1
scikit-learn==1.3.0
ptyprocess==0.7.0
rpds-py==0.10.6
jsonschema-specifications==2023.7.1
xxhash==2.0.2
accelerate==1.1.1
kiwisolver==1.4.7
ConfigArgParse==1.7
decorator==5.1.1
safetensors==0.4.5
gradio==5.9.0
opentelemetry-semantic-conventions==0.49b1
orjson==3.10.12
Flask==3.0.3
graphql-relay==3.2.0
fsspec==2024.3.1
defusedxml==0.7.1
torchvision==0.20.0
ipython==8.27.0
rich==13.7.1
jedi==0.19.1
jupyterlab_server==2.27.3
opentelemetry-sdk==1.28.1
wcwidth==0.2.5
websocket-client==1.8.0
docker==7.1.0
stack-data==0.2.0
pyarrow==16.1.0
nbclient==0.8.0
safehttpx==0.1.6
pandasql==0.7.3
argon2-cffi==21.3.0
websockets==12.0
beautifulsoup4==4.12.3
MarkupSafe==2.1.3
huggingface-hub==0.30.2
qtconsole==5.6.0
docker-pycreds==0.4.0
python-tmx==0.3.1
jupyter==1.0.0
python-dateutil==2.9.0.post0
cycler==0.12.1
wheel==0.43.0
jaraco.context==5.3.0
backports.tarfile==1.2.0
typeguard==4.3.0
autocommand==2.2.2
more-itertools==10.3.0
jaraco.collections==5.1.0
platformdirs==4.2.2
zipp==3.19.2
jaraco.functools==4.0.1
tomli==2.0.1
importlib_metadata==8.0.0
jaraco.text==3.12.1
inflect==7.3.1
typing_extensions==4.12.2
importlib_resources==6.4.0
packaging==24.1
